
<h1>SignUpページ</h1>

<form action="/signup" method="POST">
  ユーザー名： <input type="text" name="name" required>
  パスワード： <input type="password" name="pass" required>
  <input type="submit" value="新規登録">
</form>

<a href="/signin">サインインへ</a>
