<style>
  body {
    grid-template-rows: 60px  45fr 55fr 20fr;
    grid-template-areas:
    "header"
    "page-title-wrap"
    "form-wrap"
    "message-wrap";
  }
</style>

<div id="page-title-wrap">
  <h1 id="singin-title">SignIn</h1>
</div>

<div id="form-wrap" class="singin-form">
  <form action="/signin" method="POST">
    <input type="text" name="name" placeholder="User Name" onclick="form_input(this)" required><br>
    <input type="password" name="pass" placeholder="Pass Word" onclick="form_input(this)" required><br>
    <input type="submit" value="Go">
  </form>
</div>

<div id="message-wrap">
  <p>初めて利用される方は、</p>
  <p><a id="signup-link" href="/signup">SingUp</a> して下さい。</p>
</div>
