
<h1>SignInページ</h1>

<form action="/signin" method="POST">
  ユーザー名： <input type="text" name="name" required>
  パスワード： <input type="password" name="pass" required>
  <input type="submit" value="サインイン">
</form>

<a href="/signup">新規登録へ</a>
